* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
}

.app__container {
  width: 1075px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 345px);
  grid-gap: 20px;
}

.app__container-add {
  height: 419px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}